# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
venv/
.env/

# Logs & temp
*.log
*.tmp

# OS files
.DS_Store

# Data files (optional – remove if you want them tracked)

models/

# Docker
*.db
*.sqlite3